body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
}

#root {
  color: white;
  background: #1a1d24;
}
